.realtors {
  display: grid; // to align list grid inside realtors block
  align-content: center;
  justify-content: center;
  justify-items: center; // to place "top 3 realtor" to center of the row
  grid-row-gap: 2rem; // gap between "top 3 realtor" and "__list"

  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  padding: 3rem;

  &__list {
    display: grid;
    grid-template-columns: min-content max-content; // images and text.
    // min content because we already know the size of image and it will not shrink
    // but for realtors names and text we heed to specify max-content, otherwise it will shrink it

    grid-column-gap: 2rem;
    grid-row-gap: 5vh; // we make it on this manner to support different screen resolutions
    align-items: center;
  }

  &__img {
    width: 7rem;
    border-radius: 50%;
    display: block;
  }

  &__sold {
    text-transform: uppercase;
    color: $color-grey-light-2;
    margin-top: -3px; // to place our text a little bit upper
  }
}